body{
	margin:0;
	padding:0;
	
}
.titre{
	width:70%;
	height:50px;
	/* background-color:white; */
	background-image: url("../img/fond-wide-1200px.gif");
	float:left;
}
.authentification{
	width:30%;
	height: 50px;
	background-color:#4494cb;
	float:left;
}
.contenu{
	width:70%;
	height:500px;
	background-color:#c0d4e7;
	float:left;
}
.panier{
	width:30%;
	height: 500px;
	background-image:linear-gradient(#FFFFFF, #d8d8d8);
	float:left;
}
@media screen and (max-width: 900px){
	.titre, .authentification, .contenu, .panier{
		width:100%;
	}
}